@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Nico Moji';
  src: url('/fonts/NicoMoji-Regular.woff2') format('woff2'),
  url('/fonts/NicoMoji-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-instrument-sans: "Instrument Sans", sans-serif;
  --font-koulen: "Koulen", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-raleway: "Raleway", sans-serif;

  --text-big: 4.2rem;
  --text-big--line-height: 1;
  --text-big--letter-spacing: 0.05rem;
  --text-big--font-weight: 700;

  --text-big-mobile: 3.2rem;
  --text-big-mobile--line-height: 1;
  --text-big-mobile--letter-spacing: 0.05rem;
  --text-big-mobile--font-weight: 700;

  --text-small: 1.4rem;
  --text-small--line-height: 1;
  --text-small--letter-spacing: 0rem;
  --text-small--font-weight: 300;

  --text-small-mobile: 1.4rem;
  --text-small-mobile--line-height: 1;
  --text-small-mobile--letter-spacing: 0.0rem;
  --text-small-mobile--font-weight: 300;
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
